@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@300&family=Open+Sans:wght@300&family=Roboto:wght@500&display=swap');

:root 
{

    --primary-color: #fca311;
    --secondary-color: #14213D;
    --accent-color-1 : #000000;
    --accent-color-2 :#FFFFFF;
    
    --heading-font : 'noto serif georgian', 'serif';
    --paragraph-font: 'opens sans', 'serif';
    --accent-font : 'roboto', 'serif';


}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   


}

body {

    background: var(--accent-color-2);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {

    background: var(--secondary-color);
    color: var(--primary-color);
    width: 100%;
    max-width: 1900px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-family: var(--accent-font);
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
    
}

h1, h2, h3, h4 , h5 , h6 {

    font-family: var(--heading-font);
}

header img {

    display: block;
}

.logo { 

    padding: 1rem;
}

nav {

    display: flex;
    flex-direction: column;
    color: var(--accent-color-2);

}

nav ul li 
{
    list-style: none;
    padding: 1rem;
}

nav a 
{
    text-decoration: none;
    color: var(--accent-color-2);
    font-weight: bold;
    font-family: var(--accent-font);
    font-size: 100%;
    display: block;
    padding: .5rem;
   
    

}


nav a:hover{

    font-size: 120%;
    
}

.active::after {

   content: "|";
   color: var(--primary-color);
   margin: .5rem;

}

.active::before{
    content: "|";
    color: var(--primary-color);
    margin: .5rem;
}

nav li {

    display: none;
}

#menu 
{
    display: flex;
    font-size: 1.5rem;
    color:var(--accent-color-2); 
    background: transparent; 
    position: absolute;
    padding: 1rem 1rem 1rem;
    margin: .5rem;
    top: 2.5rem;
    right: 1rem;
    text-decoration: none;
}

#menu::before
{
    content: "☰";
}


#menu.open::before
{
    content: "X";
   
}

.open li 
{
    display: block;
    width: 100%;
    padding: 0;
    z-index: 1;
  

}

main {

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:auto auto auto;
    justify-items: center;
    position: relative;
    gap: .2rem;

}

section {

    text-align: center;
    margin: auto;
    
}

#title-products {

    margin: 0 0 1rem 0;
    padding: 1rem;
    background: #14213D;
    color: white;
    border-radius: 10px;
}

.hero {
    position: relative;
    margin: 0;
    grid-row: 1/2;
    font-size: 75%;
    color: var(--accent-color-2);
    font-family: var(--heading-font);
    justify-self: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

.hero picture {
    width: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    justify-self: center;

    
}

.hero img {

    width: 100%;
    opacity: 30%;
}

.hero h1, .hero h2 {

    color: black;
    font-weight: bold;
    position: absolute;
    padding: 1rem;
    margin: 1rem;
    
    
}

.hero h1 {

    top: 10%;
    
}

.hero h2 {

    top: 30%;
    
    
}
.hero button {

    padding: 1rem;
    margin: 0;
    background: rgb(0, 255, 34);
    border-radius: 10px;
    color: black;
    font-weight: bold;
    font-family: var(--paragraph-font);
    cursor: pointer;
    position: absolute;
    top: 60%;
    left: 40%;
    
}

.hero button:hover{

    background: yellow;
    color: blue;
}

.products {
    grid-row: 2/3;
    position: relative;
    margin: 1rem .5rem 1rem .5rem;
    display: grid;
    grid-template-columns: 1fr;
    width: 95%;
    border: 2px solid gainsboro;
    padding: 0;
    border-radius: 10px;
}

.products img {

    vertical-align: middle;
    border-radius: 10px;
    padding: 1rem;
    
    
}



.slideshow {
    position : relative;
    margin : auto auto 1rem auto;
    width: auto;
    border: 1px solid black;
    border-radius: 10px;
    background: gainsboro;
    
    
}

.slideshow figcaption {

    position:relative;
    background: #000000;
    color: #f1f1f1;
    border-radius: 10px;
    padding: 0 .2rem 0 .2rem;
    font-family: var(--paragraph-font);
    margin: 0 15% 5% 15%;
    width: 70%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-content: center;

   
}

.mySlides1, .mySlides2 {
    display: none;
}


.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .next {
    right: 15px;
    border-radius: 3px 0 0 3px;
  }

  .prev {
    left: 15px;
  }

  .prev:hover, .next:hover {
    background-color: #f1f1f1;
    color: black;
  }  

  footer {

    position: relative;
    background: #14213D;
    color: #f1f1f1;
    display: grid;
    grid-template-rows: auto  auto auto;
    align-items: center;
    justify-items: center;
    text-align: center;

    
    
  }

.connect {
    grid-row: 2/3;
    grid-column: 1/4;
    justify-self: center;
    
}

.address, .phone, .email {

    grid-row: 1/2;
}

.copyright {

    grid-row: 3/4;
    grid-column: 1/4;
}


.footer-logo {

    display: none;
}

.weather {

    border: 1px solid gainsboro;
    width: 100%;
    margin: 1rem;
    display: grid;
    grid-template-rows: auto auto;
    border-radius: 10px;

}

.weather h2 {

    margin: 0 0 1rem 0;
    padding: 1rem;
    background: #14213D;
    color: white;
    border-radius: 10px;
    grid-row: 1/2;

    
}

.current-weather{
    display: grid;
    grid-row: 2/3;
    font-size: 1.5em;

}

#banner {

    display: block;
    padding: 1rem;
    background: rgb(0, 255, 34);
    width: 100%;
    height: 70px;
    max-width: 1200px;
    text-align: center;
    font-family: var(--heading-font);
    color: black;
    font-weight: bold;
    position: relative;
}

#close{

    position: absolute;
    top: 0;
    right: 5px;
    cursor: pointer;
}

.rental {

    display: grid;
    grid-template-columns: 1fr;
}

.rental section {

    display: grid;
    grid-template-columns: 1fr;
    margin : 1rem;
    width: auto;
    border: 1px solid black;
    border-radius: 10px;
    background: gainsboro;
    text-align: center;
}

.rental section p {
    font-weight: bold;
    padding: .5rem;
}

.table {

    margin-bottom: 1rem;
}

table 
{
    margin: 10px auto;
    border: thin solid black;
    box-shadow: 0 0 10px gray;
    border-collapse: collapse;
    
}

caption 
{
    padding: 2px;
    color: black;
    font-size: 1.5rem;
}


th:first-child , th:nth-child(1)
{
    background: rgb(105, 102, 102);
    color: white;
    

}

th
{
    background: rgb(105, 102, 102);
    color: white;
    
}


th, td {
    padding: 7px 15px;
    border: 1px solid gray;
}

td
{
    text-align: center;
}

tbody tr:nth-child(even) 
{
    background-color:var(--secondary-color) ;
    color: white;
}

.form-container{

    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    
        
}

form{

    display: grid;
    margin: .5rem;
    grid-row: 2/3;
 }

 form fieldset {

    margin : -.5rem 1rem 1rem;
    border: 1px solid rgb(105, 102, 102);
    border-radius: 10px;
    padding: .5rem 2%;
    
 }

 form legend {
    
    margin: 0 1rem;
    padding: 0;
}
 
form label {
    display: block;
    padding: .1rem;
    margin: .5rem;
    font-weight: bold;
}

form input {
    display:block;
    border-radius: 5px;
    font-size: 1rem;
    padding: .5rem;
    width: 100%;
}

form div {

    display: block;
    margin-left: .7rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: bold;
    
}



form label input:required{
    border-left: red solid 6px;
}

form label input:required:valid {
    border-left: green solid 6px;
}


.join-button {

    width: 25%;
    height: 100%;
    justify-self: center;
    background: rgb(0, 255, 34) ;
    color: black;
    font-weight: bold;
}

.join-button:hover{

    background:yellow;
    color: blue;
}

form textarea {
    width: 100%;
}

.benefit {

    display: flex;
    flex-direction: column;
    margin: 1rem;
    border: 1px solid rgb(105, 102, 102);
    border-radius: 10px;
    width: 100%;
    ;
}

.benefit ul {
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
}

.benefit li {

    display: flex;
    justify-content: flex-start;
    margin: .5rem 0 .5rem .5rem;
    list-style-type: circle;
    

}

.head-nohome {

    justify-self: center;
    font-size: 100%;
   
}


.thank {
    
    font-size: 1.5em;
    padding: 2rem;
    margin-bottom: 25%;
}

.thank1 {

    font-size: 1.5em;
    justify-self: flex-start;
    margin: 1rem;
}

.reference {

    text-decoration: none;
    color: var(--accent-color-2);
    font-weight: bold;
    font-family: var(--accent-font);
    font-size: 100%;
    display: block;
    padding: .5rem;
}
