@media screen and (min-width: 500px) and (max-width: 900px) {

      
   
    main 
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        row-gap: 1rem;
        grid-row: 2/3;

    }

    #sec1
    {
               
        margin: 1rem;
        grid-column: 1/2;
        grid-row: 1/2;
      
      
    }
    
    #sec2
    {
        
        margin: 1rem;
        grid-column: 2/3;
        grid-row: 1/2;
        
       
    }

    #sec3
    {
       
        margin: 1rem;
        grid-column: 1/3;
        grid-row: 2/3;
       
        
    }

    footer {
        margin: 0;
        grid-row: 3/4
    }

}