@media screen and (min-width: 1000px) 
{
    
    header, main, footer {
        max-width: 1200px;
        width: 100%;
        
    }
    
    body 
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;       
        position: relative;   
        
    }

    #menu 
    {
        display: none;
    }

    header
    {
        display: grid;
        justify-self: center;
        position: relative;
        
    }

    .header 
    {
        grid-column: 1/4;
        margin-right: 0rem;
        position: relative;
        
    }

    
    .navigation 
    {
        
        width: 80%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 0;
        
                       
    }


    .navigation ul 
    {
        display: flex;
    }

    .navigation li 
    {
        display: flex;
        color: black;
        
    }

    li a 
    {
        color: black;
    }


     h1 
    {
        font-size: 300%;
    }

    button 
    {
        width: 20%;
    }

    main 
    {
        
        justify-self: center;
    }
    .current-events
    {
        grid-template-columns: 1fr 1fr 1fr  ;
        grid-template-rows: 1fr 10fr;
        row-gap: .5rem;
        text-align: center;
    }

    .current-events h2 
    {   grid-column: 1/4;
        grid-row: 1/2;
        padding:0;

    }
   

    .current-events div 
    {
        grid-row: 2/3;
        padding: 0;
    }

    .spotlight 
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        
    }

    .spotlight h2
    {
        grid-column: 1/4;
        grid-row: 1/2;
        ;
    }

    .spotlight div 
    {
        grid-row: 2/3;
    }

    .weather 
    {
        grid-row: 1/3;
        grid-column: 4/5;
    }

    nav a 
    {
        text-decoration: none;
        font-weight: bold;
        font-family: var(--accent-font);
        font-size: 150%;
        color: black;
        
    }


    button 
    {
        top: 25rem;
    }

   .active 
{
    border: 1px solid #000000;
}

#mode 
{
  position: absolute;
  top: .8rem;
  right: 7rem;
  
}

.header 
{
    display: flex;
    flex-direction: row;
    background: white;
}

footer 
{
    
    justify-self: center;
}

.discover-content 
{
    display: grid;
    grid-template-columns: 30% 70%;
    margin: 1rem;
    gap: 1rem;

}

.sidebar 
{
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
}

.photos 
{
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}



.side-bar-one 
{
    padding: 1rem;
    border: 1px solid #fca316 ;
    margin: 1rem;
    border-radius: 10px;
    display: grid;
    text-align: justify;
   
    
    
}


.side-bar-one h3, .side-bar-two h3  {

    justify-self: center;
    margin-bottom: 1rem;
}


.side-bar-two 
{
    padding: 1rem;
    border: 1px solid #fca316 ;
    margin: 1rem;
    border-radius: 10px;
    display: grid;
    text-align: justify;
}

.photos figure 
{
    margin-bottom: 1rem; 
    text-align: center;
}

.photos :hover
{
    box-shadow: 0 0 50px #333;
    
}

.photos  
{
    border-radius: 15px 150px;
    width: 100%;
    padding: 0;
}

figcaption 
{
    border-radius: 150px 15px;
    left: 0;
}

#messagepop
{
    width: 250px;
    height: 50px;
    opacity: 100%;
    background: white;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-self: center;
    text-align: center;
    
}

#closepop
{
    margin: 0;
    padding: .5rem;
    align-self: center;
    width: 50px;
    position: relative;
    top:0;
    
    
}

.visit-counter {

    justify-self: center;
}


.join-container {

    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1.5rem;
    margin-bottom: 1rem;
 }

 .join-container form {

    grid-column: 1/2;
}

 
 .benefit {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    
    
 }


 .benefit div {
    border:1px solid #fca316;
    border-radius: 10px;
    box-shadow: 5px 10px;
    padding: 1rem;
    
    
 }

 .benefit ul {

    padding: .5rem;
 }

 .benefit li {
    list-style:circle;
    padding: .2rem;
 }

form {

    padding: 0;
    margin: 0;
}

.np , .bronze , .silver , .gold  {

    display: grid;
    

  
}

.np img , .bronze img , .silver img , .gold img{

    justify-self: center;
}

.silver img {

    margin-top: 3rem;
}

}