:root {

    --primary-color: #445ba9;
    --required-color: #9c2c13;
    --accent-font : 'roboto', 'serif';

}



form fieldset {
    margin : 2rem 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    padding: .5rem 2%;;

}

form legend {
    color: var(--primary-color);
    margin: 0 1rem;
    padding: 0;
}

label {
    display: block;
    padding-top: 1rem;
    color: var(--required-color);
    font-size: .8rem;

}

form label input {
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);

}
form label input:required{
    border-left: var(--required-color) solid 6px;
}

form label input:required:valid {
    border-left: green solid 6px;
}

form label{

    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: .8rem;

}

form input.submitBtn {
    border: none;
    background-color: var(--required-color);
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form div {

    display: block;
    padding-top: 1rem;
    color: navy;
    font-size: 1.5rem;
    font-family: var(--accent-font);

}